.root {
  position: relative;
  width: 1440px;
  height: 1024px;
  align-items: flex-start;
  background-color: #fbe0db;
  overflow: hidden;
}
.landie {
  color: #37447e;
  font-size: 69.1053px;
  line-height: 101px;
  font-family: Cherry Bomb, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 36.4583%;
  right: 36.4426%;
  top: 42.4805%;
  bottom: 47.6563%;
  height: min-content;
  flex-direction: column;
}
.ellipse1 {
  position: absolute;
  left: 103.5417%;
  right: -87.1528%;
  top: 72.8516%;
  bottom: -14.8437%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
