#beginButton {
    float: left;
    background-color: #2D3765;
    color: #E8998D;
    border-radius:0.8em;
    padding: 0.5em 1.4em 0.6em 1.4em;
    margin: 1em 0em 1em 0em;

    box-shadow: 0px 4.73px 4.73px rgba(0, 0, 0, 0.15);
    font-size: 1.5em;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}