@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#filter {
    background-color: #E8998D;
    border: none;
    border-radius: 2em;
    padding: 0.2em 1.25em 0.3em;
    margin: 0.5em 1em;
    font-family: "Cherry Bomb One", system-ui;
    font-size: 1.4em;
    color: #666C87;
}

#filter-btn-div {
    float: right;
    display: inline;
    width: 50%;
}

#drop {
    margin-left: 0.5em;
    width: 0.55em;
}