@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#pad {
    padding-top: 10em;
}
#about-div {
    margin: 2.5em 0em 0em 6em;
    padding: 0 0em 6em 5em;
}

#about-title {
    margin-top: 3em;
}

h1 {
    font-family: "Cherry Bomb One", system-ui;
    font-size: 5em;
    color: #37447E;
    display: inline;
    margin: 4em 1em;
}

#puparms {
    width: 15em;
    margin-left: 4em;
    position: absolute;
    z-index: 2;

}

#photo {
    text-align: center;
    margin: auto;
}


#group-photo {
    width: 85%;
    border-radius: 3em;
    /* margin-left: 5em; */
    margin-top: 4em;
    position: relative;
}

