@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#pad {
    padding-top: 13em;
}

.react-calendar {
    padding: 1em 2em 1em 2em;
    background-color: #37447E !important; 
    width: 75% !important;
    margin: auto;
    margin-bottom: 2em;
    border-radius: 3em;
}

.react-calendar__navigation {
    margin-bottom: 1.2em;
}

.react-calendar__navigation button{
    background-color: #ffffff00;
    border: none;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-size: 1.6em;
}

.react-calendar button {
    border-radius: 50px !important;
}

.react-calendar__month-view__days__day button {
    width: 10px !important;
}

.react-calendar button:hover {
    background-color:#202b5e !important;
}

.react-calendar button:focus {
    background-color:#D99E95 !important;
}
.react-calendar__navigation__label__labelText {
    color: #ffff;
}

.react-calendar__navigation__arrow {
    color: #E8998D;
}

.react-calendar__tile {
    background-color: #ffffff00;
    border: none;
    padding: 0.6em;
}

.react-calendar__tile abbr {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

#cal Button {
    background-color: #fff;
}

#cal Button.active {
    background-color: #E8998D;
}

abbr {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-size: 1.3em;
    color: #fff;
    text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday {
    text-align: center;
}

.big-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.small-flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
}
.post-card {
    padding-right: 50px;
}
