p {
    color: black;
}

#home {
    margin:0;
    padding: 2em 4em 2em 4em;
    background-color: #FBE0DB;
}

#home-txt {
    float: left;
}

h2 {
    margin: 0;
    text-align: left;
    color: #37447E;
}

img {
    width: 200px;
    height: 200px;
}