@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
h2 {
    margin: 0;
    text-align: left;
    color: #2D3765;
}

#home {
    /* margin:0; */
    margin: auto;
    padding-top: 7em;
    background-color: #FBE0DB;
}

.div-pad {
    padding: 0em 6.5em 0em 6.5em;

        /* Your default styles here */
    /* animation: fadeIn 0.6s ease-in-out; */
    
}

#home h2 {
    font-size: 4em;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
}

#home p {
    font-size: 1.3em;
    color: #37447E;
    margin: 1em 0em 1em 0em;
    font-family: "Montserrat", sans-serif;
}

#home-txt {
    float: left;
    margin-left: 4em;
    margin-top: 8em;
}


#home-txt-share, #home-txt-buddy {
    float: left;
    margin-top: 6em;
    margin-left: 4em;
    width: 50%;
}

#home-txt-share p, #home-text-find p{
    width: 80%;
    text-align: left;
}

#study1 {
    width: 25em;
    margin: 2em;
    margin-left: 5em;
    float: right;
}

#messy {
    width: 30em;
    margin-left: 3em;
    /* margin-top: 20em;  */
}

#sharing {
    width: 100%;
    margin-top: 45em;
    padding-bottom: 10em;
}

#buddying {
    width: 100%;
    margin-top: 8em;
    padding-bottom: 7em;
}

#finding {
    margin-top: 4em;
    padding-bottom: 5em;
}

#home-txt-find {
    float: right;
    margin-top: 3em;
    margin-right: 4em;
    margin-left: 8em;
    width: 40%;
}

#sprinting {
    float: left;
    width: 30em;
}